.form-control{
    border-radius: 0px !important;
}
.container-fluid{
    position: absolute;
    height: 50%;
    top: 0%;
    background-color: rgb(40, 46, 215) !important;

}
.container{
    position: relative;
    z-index: 1;
    top: 25vh;
}
button{
    border-radius: 0px;
}
@media (max-width:600px) {
    .container-fluid{
        width: 100%;
    }
    .container{
        width: 95vw;
    }
}